@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.userway.org/widget.js" data-account="ho4Dn9vmSX"></script>
    <meta charset="utf-8" />
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
        background-color: #f8f9fa;
        font-family: 'Work Sans', sans-serif;
        }

        .text-danger {
        color: #b9172f !important;
        }

        .btn-primary {
        background-color: #b9172f !important;
        border-color: #b9172f !important;
        }

        .btn-primary:hover {
        background-color: #92001f !important;
        border-color: #92001f !important;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
        <h1 class="text-danger">403 - Acceso Denegado</h1>
        <p class="lead">No tienes permisos para acceder a esta sección del sistema.</p>
        <a class="btn btn-primary" asp-controller="Login" asp-action="Login">Volver al inicio de sesión</a>
    </div>
</body>
</html>