<!DOCTYPE html>
    <html>
    <head>
        <title>Cajero</title>
    </head>
    <body>
    <h1>Cajero</h1>
    <ul>
        <li>Realizar ventas</li>
        <li>Procesar pagos</li>
        <li>Generar comprobantes de pago</li>
    </ul>
    </body>
    </html>