<!DOCTYPE html>
    <html>
    <head>
        <title>Mesero</title>
    </head>
    <body>
        <h1>Mesero</h1>
        <ul>
            <li>Tomar pedidos de las mesas</li>
            <li>Enviar pedidos a cocina</li>
            <li>Consultar disponibilidad de platos</li>
            <li>Actualizar estado de pedidos</li>
        </ul>
    </body>
    </html>
